[Unit]
Description=AK Computer scheduler (alternative to cron)
After=network.target

[Service]
User=www-data
WorkingDirectory=/var/www/akstream/current
ExecStart=/var/www/akstream/current/scripts/run-artisan.sh /usr/bin/php /var/www/akstream/current schedule:work
Restart=always

[Install]
WantedBy=multi-user.target
